* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #2c3e50;
}
td {
    border: 1px solid #34495e;
    padding: 10px;
    vertical-align: top;
}
table tr:first-child td {
    padding: 20px;
    text-align: center;
    background-color: #1abc9c;
}
table tr:first-child img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    height: auto;
}
table tr:nth-child(2) td:first-child {
    background-color: #2980b9;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 8px 0;
}
li a {
    color: #ecf0f1;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
div {
    padding: 15px;
    margin: 10px 0;
}
div h2 {
    color: #2c3e50;
    margin-top: 0;
}
div img {
    float: left;
    margin-right: 15px;
}
div p {
    text-align: justify;
}
table tr:last-child td {
    background-color: #34495e;
    text-align: center;
}
table tr:last-child h3 {
    margin: 10px 0 5px 0;
    color: #ecf0f1;
}
table tr:last-child p {
    margin: 5px 0;
    color: #bdc3c7;
}/
ul{
    list-style: none;
}
ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    height: 60px;
}
ul li a{
    height: 60px;
    background-color: #333;
    display: block;
    border-left: 10px solid rgb(8,96,179);
    border-right: 5px solid rgb(144,253,111);
    padding-left: 15px;
    text-decoration: none;
    color: #bfe1f1;
}
ul li a:hover{
    margin-left: 10px;
    color: #b9b7b7;
    background-color: #0b1741;
    box-shadow: 10px 10px 20px #000;
    transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
}